<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cocina</title>
    {% block stylesheets %}{% endblock %}
    {% block rss %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block id '' %}">
    <div id="contenedor">
        {% block body %}{% endblock %}
        <footer>
            &copy; {{ 'now' | date('Y') }} - Cocina
            <a href="#">ENLACE 1</a>
            <a href="#">ENLACE 2</a>
            <a href="#">ENLACE 3</a>
            <a href="#">ENLACE 4</a>

        </footer>
        {% block javascripts %}{% endblock %}
    </div>
</body>

</html>